<!doctype html>
<html lang="en">
    {% include 'parts/head.html.twig' %}

    <body class="{% if bg_secondary == true %}bg-img-secondary{% else %}bg-img-primary{% endif %}">
        {% if header is not defined %}
            {% if back_button is not defined %}
                {% include 'parts/appbar.html.twig' %}
            {% else %}
                {% include 'parts/appbar.html.twig' with {"back_button": back_button} %}
            {% endif %}
        {% endif %}
        
        <div class="content-container {% if header is not defined %}with-header{% endif %}">
            {% block content %}{% endblock %}
        </div>

        <script src="/assets/dist/app.bundle.js"></script>
    </body>
</html>