{% extends 'layouts/master.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img class="mt-5 mx-auto d-block img-fluid logo" src="../assets/img/logo.png" alt="Logo" />
                <h1 class="text-center font-weight-bold my-4 h2">Welkom bij PMS</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a href="/login" class="btn btn-primary mx-auto d-table">Inloggen als speler of beheerder</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center font-weight-bold my-4">Tafel</h2>

                <form method="POST">
                    <div class="form-group">
                        <input type="text" placeholder="Tafelnummer">
                    </div>

                    <button type="submit" class="btn btn-primary mx-auto d-block">Inloggen als tafel</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}