{% extends 'layouts/master.html.twig' %}

{% block content %}
{% include 'parts/modal.html.twig' with {'modal_title':'Persoon Toevoegen', 'primary_button_text': 'Persoon Toevoegen','add_person': true} %}
    <div class="container">
        <div class="row">
            <div class="form-group my-4 mx-auto d-block">
                <button class="btn btn-primary mx-auto d-block" data-toggle="modal" data-target="#modal">Persoon toevoegen</button>
            </div>
        </div>
        <hr>
            <div class="form-group my-4 mx-auto d-block">
            {% include 'parts/list.html.twig' with {'checkboxes': true} %}
            </div>
    </div>
{% endblock %}
