{% extends 'layouts/master.html.twig' %}

{% block content %}
    <div class="container">
        <div class="form-group my-4 mx-auto d-block">
            <form method="post" action="/admin/game/add-players" id="submit_players">
                {% include 'parts/list.html.twig' with {'checkboxes': true} %}
            </form>
        </div>

        <button class="btn btn-primary mx-auto d-block" type="submit" form="submit_players">Personen toevoegen aan spel</button>
    </div>
{% endblock %}
