{% extends 'layouts/master.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row mt-1">
            <div class="form-group my-4 mx-auto d-block">
                <p>Inleg voor de pot:</p>
                <input type="text" placeholder="Inleg voor de pot">
            </div>
        </div>
        <div class="row">
            <div class="form-group my-4 mx-auto d-block">
                <p>Hoeveelheid tafels:</p>
                <input type="text" placeholder="Hoeveelheid tafels">
            </div>
        </div>
        <hr>
        <div class="row">
        <div class="form-group my-4 mx-auto d-block">
                <h1 class="text-center font-weight-bold my-4 h2">Waarde fiches</h1>
            </div>
        </div>
        <div class="row">
            <div class="form-group my-4 mx-auto d-block">
                <p>Wit:</p>
                <input type="text" placeholder="Wit">
            </div>
        </div>
        <div class="row">
            <div class="form-group my-4 mx-auto d-block">
                <p>Rood:</p>
                <input type="text" placeholder="Rood">
            </div>
        </div>
        <div class="row">
            <div class="form-group my-4 mx-auto d-block">
                <p>Groen:</p>
                <input type="text" placeholder="Groen">
            </div>
        </div>
        <div class="row">
            <div class="form-group my-4 mx-auto d-block">
                <p>Zwart:</p>
                <input type="text" placeholder="Zwart">
            </div>
        </div>
        <div class="row">
            <div class="form-group my-4 mx-auto d-block">
                <p>Roze:</p>
                <input type="text" placeholder="Roze">
            </div>
        </div>
        <div class="row">
            <div class="form-group my-4 mx-auto d-block">
                <p>Geel:</p>
                <input type="text" placeholder="Geel">
            </div>
        </div>
        <hr>
        <div class="row">
        <div class="form-group my-4 mx-auto d-block">
                <h1 class="text-center font-weight-bold my-4 h2">Blinds</h1>
            </div>
        </div>
        <div class="row">
            <div class="form-group my-4 mx-auto d-block">
                <p>Waarde Small Blind:</p>
                <input type="text" placeholder="Waarde Small Blind">
            </div>
        </div>
        <div class="row">
            <div class="form-group my-4 mx-auto d-block">
                <p>Waarde Big Blind:</p>
                <input type="text" placeholder="Waarde Big Blind">
            </div>
        </div>
        <div class="row">
            <div class="form-group my-4 mx-auto d-block">
                <p>Stapgrootte:</p>
                <input type="text" placeholder="Stapgrootte">
            </div>
        </div>
        <hr>
        <p class="text-center">Hoeveelheid spelers die meedoen:</p>
        <div class="row">
        <a class="btn btn-primary mx-auto d-block" href="/admin/game/add-players">Spelers toevoegen</a>
        </div>
        <hr>
        <button class="btn btn-primary mx-auto d-block">Toernooi starten</button>
    </div>

{% endblock %}
