{% extends 'layouts/master.html.twig' %}

{% block content %}
    <div class="container">
        <div class="form-group my-4 mx-auto d-block">
            {% include 'parts/list.html.twig' with {'checkboxes': true} %}
        </div>
        <hr>
        <button class="btn btn-primary mx-auto d-block">Geselecteerde spelers uitschakelen</button>
    </div>
{% endblock %}
