body, html {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}

h1, h2, h4, p, label, ::placeholder {
    color: white;
}

input[type=text], input[type=email], input[type=password] {
    background-color: transparent;
    border: 3px solid white;
    color: white;
    padding: 5px;
}

@each $color, $value in $theme-colors {
    .input-#{$color} {
        border-color: $value !important;
    }

    .input-#{$color}::placeholder {
        color: $value !important;
    }
}

form > div {
    text-align: center;
}

hr {
    width: 50%;
}

.bg-img-primary {
    background: url("/assets/img/background-primary.jpg") no-repeat center center;
    background-size: cover;
}

.bg-img-secondary {
    background: url("/assets/img/background-secondary.jpg") no-repeat center center;
    background-size: cover;
}

.content-container {
    overflow: auto;
    height: 100%;
}

.with-header {
    margin-top: $appbar-height;
    height: calc(100% - #{$appbar-height});
}

.btn {
    border: $btn-border-width solid white !important;
    font-weight: bold;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.btn-big {
    padding: 1.5em 2em;
}

.logo {
    filter: drop-shadow(5px 5px 5px black);
    padding-left: 50px;
    padding-right: 50px;
}

.navbar {
    position: fixed;
    top: 0;
    background: url("/assets/img/navbar.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: $appbar-height;
}

.navbar-brand {
    line-height: initial;
}

.modal-content {
    text-align: center;
    
    .modal-header, .modal-footer {
        display: initial;
        align-items: initial;
        justify-content: initial;
        border: 0px;

        .modal-title {
            text-align: center;
        }
    }
}

.list-group-item {
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

@each $color, $value in $chip-colors {
    .chip-#{$color} {
        width: 25px;
        height: 25px;
        background-color: $value;
        border: 2px solid black;
        border-radius: 50%;
        display: block;
        margin: 15px auto;
    }

    .chip-block-#{$color} {
        width: 100%;
        height: 24px;
        background-color: $value;
        border: 2px solid black;
        margin-bottom: 1rem;
    }
}

.table {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    width: 70%;
    padding: 50px 0px;
    background: url("/assets/img/background-primary.jpg");
    border-radius: 50%;
}

.table-seat {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: $table-seats-size;
    height: $table-seats-size;
    border-radius: 50%;
    border: 2px solid black;
    background-color: white;

    p {
        line-height: $table-seats-size;
    }
}