@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$primary: #eb5757;
$btn-border-width: 3px;
$font-family-sans-serif: 'Roboto', sans-serif;

$hr-border-color: white;
$hr-border-width: 2px;

$list-group-color: white;
$list-group-bg: transparent;
$list-group-border-color: white;
$list-group-border-width: 2px;
$list-group-border-radius: 0px;

$appbar-height: 60px;

$chip-colors: (
    1: #ffffff,
    2: #f83f37,
    3: #5ec91b,
    4: #000000,
    5: #ee81f5,
    6: #fce83e
);

$table-seats-size: 100px;

$drawer-header-height: 100px;