@include media-breakpoint-down(sm) {
    .btn, .form-group {
        width: 85%;
    }

    hr {
        width: 90%;
    }

    input[type=text], input[type=email], input[type=password] {
        width: 100%;
    }

    .drawer {
        transform: translateX(-100%);
        width: 80%;
    }
}