{% extends 'layouts/master.html.twig' %}

{% block content %}
    <div class="container">
    <div class="row mt-3">
        <button class= "btn btn-big btn-primary my-4 mx-auto d-block">Huidig pokertoernooi</button>
    </div>
        <div class="row mt-3">
        <button class= "btn btn-big btn-primary my-4 mx-auto d-block">Nieuw pokertoernooi</button>
    </div>
        <div class="row mt-3">
        <button class= "btn btn-big btn-primary my-4 mx-auto d-block">Inkoop en Rebuy</button>
    </div>
    </div>
{% endblock %}
