<div class="drawer" id="drawer">
    <div class="drawer-header m-0">
        <h1 class="d-inline-block m-3 text-white"><i class="fas fa-user-circle"></i></h1>
        
        <div class="d-inline-block p-2">
            <p class="m-0"><b>{{ display_name }}</b></p>
            <p class="m-0">{{ email }}</p>
        </div>
    </div>

    <div class="drawer-body">
        <div class="list-group">
            <a href="gamerules" class="list-group-item list-group-item-action">Spelregels bekijken</a>
            <a href="/ranking" class="list-group-item list-group-item-action">Ranking</a>
            <a href="#" class="list-group-item list-group-item-action">Uitloggen</a>
        </div>
    </div>
</div>

<div class="drawer-overlay invisible" id="drawer-overlay"></div>