<ul class="list-group">
    {% for user in users %}
        {% if clickable == true %}
            <a data-toggle="modal" href="#modal" class="list-group-item list-group-item-action">{{ user.name }}</a>
        {% else %}
            <li class="list-group-item">{% if checkboxes == true %}<input type="checkbox">{% elseif ranking == true %}{{ user.ranking }}.{% endif %} {{ user.name }}{% if ranking == true %}<span class="float-right">{{ user.score }} punten</span>{% endif %}</li>
        {% endif %}
    {% endfor %}
</ul>