<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold" id="exampleModalCenterTitle">{{ modal_title }}</h5>
            </div>

            <div class="modal-body">
                {% if add_person == true %}
                    <input class="input-primary text-dark" type="email" name="email" placeholder="E-mailadres">
                {% else %}
                    <input type="checkbox" id="inkoop" name="inkoop" value="Inkoop">
                    <label class="text-dark" for="inkoop"> Inkoop</label><br>
                    <input type="checkbox" id="rebuy" name="rebuy" value="Rebuy">
                    <label class="text-dark" for="rebuy"> Rebuy</label><br>
                {% endif %}
            </div>

            <div class="modal-footer">
                <div class="mx-auto d-block">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
                    <button type="button" class="btn btn-primary">{{ primary_button_text }}</button>
                </div>
            </div>
        </div>
    </div>
</div>